/*
Drupal messages
=============================

Drupal messages
===================================
Drupals standard messages

classes
------------------------------------
.messages  
.status  
.warning  
.messages  

    <div class="drupal-messages">
      <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        Utrum quia ut verto nimis. <a href="#">Vestibulum sed magna</a>. Neque neo rusticus abdo te refoveo os refero adipiscing praemitto genitus aliquam dolus at. 
      </div>
      <div class="messages status">
        <h2 class="element-invisible">Status message</h2>
        Quibus nunc inhibeo. <a href="#">Vestibulum sed magna</a>. Diam ullamcorper nunc ibidem. 
      </div>
      <div class="messages warning">
        <h2 class="element-invisible">Warning message</h2>
        Saluto torqueo defui persto minim rusticus vereor dignissim. <a href="#">Vestibulum sed magna</a>. Pecus nobis qui damnum ad commoveo aliquip vero sed iaceo. Velit tincidunt immitto melior dignissim ibidem blandit te. Abbas sit. 
      </div>
    </div>
*/

.messages {
  padding:1rem;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;  

  border: 1px solid black;

  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;  

  @include border-radius(3px);
  width:50%;

  li{
    margin: 0 0 1 1.5rem;
    list-style: none;
  }
}

.messages.status {
  @extend .messages;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  @include linkcolor(green,green);
}

.messages.warning {
  @extend .messages;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  @include linkcolor(red,red);
}

.messages.error {
  @extend .messages;
  border-color: #ebccd1;
  background-color: #f2dede;
  color: #a94442;
  @include linkcolor(red,red);  
}
