/*
Typography

For the love of type
file: design/_typography.scss

Styleguide 1.0
*/



//generel fontstacks
@import url(http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900);

$sans-serif : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif :      "Droid Serif", Georgia, serif;
$monospace :  "Monaco", "Courier New", monospace;

$fontbody: "Lato", sans-serif;
$font-italic: "Lato", sans-serif;
$font-bold: "Lato", sans-serif;

$fontsize: 1.4rem;
$lineheight: 2rem;

// font color
$bgcolor       : $white;
$fontcolor     : $black;
$titlecolor    : $red;
$linkcolor     : $red;
$linkcolorhover: lighten($linkcolor, 20%);

//seection color
$selectioncolor: #333;
$selectioncolor-bg: lighten($linkcolor, 10%);

html {
  font-size: 62.5%; // 1em = 10px
}

body{
  @extend %bodyfont;
  color: $fontcolor;
  font-size: $fontsize;
  line-height: $lineheight;
}

/*
Header

Use the <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> for defining the headings.

Markup:
<h1>h1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
<h2>h2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
<h3>h3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
<h4>h4. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
<h5>h5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
<h6>h6. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>

Styleguide 1.1
*/

/*
Header links

Use the <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> for defining the headings.

:hover    - Highlight the button when hovered.
:active    - active

Markup:
<h1><a href="foo {$modifiers}">h1. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h1>
<h2><a href="foo {$modifiers}">h2. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h2>
<h3><a href="foo {$modifiers}">h3. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
<h4><a href="foo {$modifiers}">h4. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h4>
<h5><a href="foo {$modifiers}">h5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
<h6><a href="foo {$modifiers}">h6. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h6>

Styleguide 1.1.1
*/

h1,h2, h3, h4, h5, h6{
  @include linkcolor($orange, $hover:$lime, $decorationhover:$red);
  color: $titlecolor;
  line-height:1;
  margin:0 0 2rem 0;
  font-style: normal;
}
h1{
  font-size:4rem;
}
h2{
  font-size:3.5rem;
}
h3{
  font-size:3rem;
}
h4 {
 font-size:2.2rem;
}
h5 {
 font-size:2.2rem;
}
h6 {
 font-size:2rem;
}

/*
Text variations

Use the <code>&lt;p&gt;</code> for defining the paragraphs

.lead    - Stand out text
.danger    - danger
.foo - bar

Markup:
<div class="{$modifiers}">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.  <a href="#">read more</a>  Lorem ipsum dolor sit amet, co
nsectetur adipisicing elit.
Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.  <a href="#">read more</a>  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>

Styleguide 1.3
*/

p{
  padding:1rem 0;
}

%lead,
.lead{
  font-size: 2rem;
  color:$red
}
.small,
small,
%small{
  font-size: 1rem
}
/*
links

Links in all its magic glory

:visited - visited
:focus   - focus
:hover   - hover

Markup:
<a href="#" class="{$modifiers}">link</a>

Styleguide 1.4
*/

@include linkcolor($red, $lime, underline);
:focus{outline:0;}

/*
pre
-------------------------------------

    <pre>
    .foo {
      min-height: 100px;
    }
    </pre>

 */
pre{
  color:$black;
  background:$white;
  border:1px solid darken($white, 10%);
  @include border-radius(3px);
  padding:1rem;
  min-width:80%;
  transition: all 1s;
  overflow: hidden;
  // white-space: pre-wrap;
}
pre:hover{
  width:100%;
  background:lighten($blue, 55%);;
}

/*
Selection colors
========================================

 */

// -- Selection colors
::-moz-selection { background: $selectioncolor-bg; color: $selectioncolor;}
::selection      { background: $selectioncolor-bg; color: $selectioncolor;}

// -- placeholder colors @todo:move to forms
:-moz-placeholder { color: #ccc;}
::-webkit-input-placeholder { color: #ccc;}
